.nav-item__promos{
    background-color:none;
    border: 2px solid $color6; 
    margin-right: 0.5rem; 

}
.nav-item__promos:hover{
    background-color: $color6; 
    
}
.tab-content:hover{
    border: 2px dashed $color6; 
}

//FESTIVALES

.tab-pane{
  padding: 3% 0 3% 3%;
  img{
    width:90% ;
    height: 100%;
    
  }
  p{
      text-align: justify;
     
  }
}

//ANTICIPADAS

.galeria-items__item img:hover{      
    transform: scale(0.95);
    border-radius: 25%;
    box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 1);
}

//PROMOCIONES
#mes img:hover{
   transform: scale(0.9);
}