//Estilos basicos
.circulos{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 
}
.circulos--item{
   width: 50px;
   height: 50px;   
   margin: 1%;   
   position: relative;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.circulo--item2 {
   width:70px;
   height: 100px;
   // background-color: blue;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   
  
   p{
      position:absolute;
      color: $color7;
   }
   p:hover{
      color:$color6;
      font-weight: 900;
      font-size: large;
   }
}

//Ciclo map
$circulos:(
   c1:$color3,
   c2:$color4,
   c3:$color5
);

//Media query
@each $circulo,$color in $circulos {
   .circulos--#{$circulo}{
      background-color: $color;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      //text-align: center;
   }
}

//Efecto
.circulos--item{
   animation: 2s salto 2;
}

@keyframes salto{
   25%{
      transform: translateY(0);
   }

   50%{
      transform: translateY(-45px);
   }
   75%{
      transform: translateY(45px);
   }
   100%{
      transform: translate(0);
   }

}


   
