.table--tarifas {
  background-image: url("../imgPrecios/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  tbody {
    font-weight: 900;
    color: rgb(42, 6, 250);
  }
}
.table--tarifas:hover {
  background-image: url("");
}
